<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart.js Estadísticas Medic</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

    <h1>Estadísticas</h1>
    <div class="charts">
        <div class="chartsito">
            <h3>Cantidad de Fichas Médicas por año</h3>
            <div id="chart1"></div>
        </div>
        <div class="chartsito">
            <h3>Cantidad de Usuarios según el Tipo de Sangre</h3>
            <div id="chart2"></div>
        </div>
        <div class="chartsito">
            <h3>Cantidad de Usuarios según el Seguro Médico</h3>
            <div id="chart3"></div>
        </div>
        <div class="chartsito">
            <h3>Cantidad de Usuarios discapacitados</h3>
            <div id="chart4"></div>
        </div>
    </div>

   <!-- CDN PLOTLY -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.min.js" integrity="sha512-V0j9LhrK9IMNdFYZqh+IqU4cjo7wdxyHNyH+L0td4HryBuZ7Oq6QxP2/CWr6TituX31+gv5PnolvERuTbz8UNA==" crossorigin="anonymous"></script>

   <script>
       let aniosFichaMedica = JSON.parse('<%- aniosFichaMedica %>')
       let cantidadesFichaMedica = JSON.parse('<%- cantidadesFichaMedica %>')
   </script>

  <!-- CUSTOM JS -->
  <script src="/js/charts.js"></script>

</body>
</html>